@page
@model web.Pages.auth.SignInModel
@{
    ViewData["Title"] = "Sign in";
}

<form class="signin-form" method="post">
    <h1>Sign in</h1>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <label asp-for="Credentials.Email">Email</label>
    <input type="text" asp-for="Credentials.Email" class="form-control" />
    <span class="text-danger" asp-validation-for="Credentials.Email"></span>

    <label asp-for="Credentials.Password">Password</label>
    <input type="password" asp-for="Credentials.Password" class="form-control" />
    <span class="text-danger" asp-validation-for="Credentials.Password"></span>
    <button type="submit">Sign in</button>
    <a asp-page="/auth/signup">sign up</a>
</form>
